$grey70: #8b8ea1;
$grey100: #444655;

.main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  flex-grow: 1;
}

.main section {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem;
  padding-bottom: 3rem;
  border-radius: 0.5rem;
}

.header {
  font-weight: 600;
  padding-bottom: 1rem;
}

.edit {
  display: flex;
  column-gap: 2rem;
  flex-wrap: wrap;
}

.edit_section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.edit_section:nth-child(1) {
  padding: 0.25rem 1.5rem;
  align-items: center;
}

.edit_section label {
  font-size: 0.9rem;
  color: $grey100;
}

.edit_section input {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border-color: #969696;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 1rem;
}

.edit_section input[type="text"] {
  padding: 0.3rem 0.6rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
}

.edit_section input:focus {
  outline-color: #4585ff;
}

.user_img {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  overflow: hidden;
  position: relative;
}

.button_wrapper {
  display: flex;
  justify-content: flex-end;
}

.saveButton {
  display: flex;
  justify-content: center;
  width: 10rem;
  padding: 0.4rem 2rem;
  background-color: #4585ff;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  &:hover {
    background-color: $grey70;
  }
}

.peopleIcon {
  position: relative;
  width: 16rem;
  height: 16rem;
  margin: auto;
}

.text {
  align-items: center;
  font-size: 14px;
  color: #444655;
}
