$blue: #4585ff;
$lightblue: #dbe6fd;
$lightblue30: #e9efff;
$grey: #969696;
$grey70: #8b8ea1;
$grey100: #444655;
$grey45: #a8aabc;
$red: #ff1f00;
$red20: #ffd2cc;

.main {
  flex-grow: 1;
}

.main section {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
}

.header {
  display: flex;
  padding-left: 1rem;
  justify-content: space-between;
}

.subheader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 4rem;
}

.subtitle {
  font-size: 0.9rem;
  color: $grey;
}

.body {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button_wrapper {
  display: flex;
  justify-content: flex-end;
}

.addBtn {
  display: flex;
  justify-content: center;
  column-gap: 0.6rem;
  width: 12rem;
  padding: 0.6rem 1rem;
  background-color: $blue;
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
}

.addBtn:hover {
  background-color: $grey70;
}

// ------------SellingBox------------ //

.orderBox {
  display: flex;
  padding: 1rem;
  border: 1px solid $grey;
  border-radius: 0.4rem;
}

.orderBox:hover {
  background-color: $lightblue30;
  // border: 2px solid $blue;
  cursor: pointer;
}

.flexInfo {
  display: flex;
  flex-direction: row;
}

.img {
  position: relative;
  overflow: hidden;
  border-radius: 0.4rem;
  width: 4rem;
  height: 4rem;
}

.info {
  position: relative;
  display: flex;
  column-gap: 2rem;
}

.nameblock {
  display: flex;
  width: 16rem;
}

.infoblock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 6rem;
}

.priceblock {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.4rem;
}

.amountblock {
  display: flex;
  justify-content: flex-end;
  width: 5rem;
}

.soldblock {
  display: flex;
  justify-content: flex-end;
  width: 4.6rem;
}

.textInfo {
  display: flex;
  font-size: 1rem;
}

.textInfo:nth-child(1) {
  margin-left: 1rem;
}

.btnblock {
  margin-left: auto;
  padding-left: 1rem;
}

.deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.4rem;
  width: 6rem;
  height: 2.3rem;
  background-color: $red20;
  color: $red;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}

.deleteBtn:hover {
  background-color: $red;
  color: white;
  cursor: pointer;
}

// -------------------------- FirstProduct Component --------------------------
.main {
  flex-grow: 1;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
}

.main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 14px;
  color: #444655;
}

.peopleIcon {
  position: relative;
  width: 18rem;
  height: 18rem;
  margin: auto;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  column-gap: 0.8rem;
  background-color: #4585ff;
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffff;
  border-radius: 0.4rem;
  width: 12rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #8b8ea1;
}
