.container {
  width: 75%;
  max-width: 1136px;
  height: 50%;
  border-radius: 12px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1rem;
}

.imgcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .item_mainImage {
    position: relative;
    width: 18rem;
    height: 18rem;
    cursor: zoom-in;
  }
  .item_mainImage:hover {
    * {
      opacity: 0;
    }
  }
  .imggal {
    width: 18rem;
    margin-top: 0.25rem;
    display: grid;
    grid-template-columns: repeat(4, 22%);
    column-gap: 4%;
    row-gap: 0.25rem;
    .item_image {
      position: relative;
      width: 4rem;
      height: 4rem;
    }
    .item_image_select {
      border: 1px solid black;
    }
  }
  .embla {
    margin-top: 0.25rem;
    overflow: hidden;
    position: relative;
    width: 20rem;
    .embla__container {
      display: flex;
      width: 20rem;
      column-gap: 1px;
    }
    .embla__slide {
      position: relative;
      flex: 0 0 25%;
      width: 4rem;
      height: 4rem;
      cursor: pointer;
    }
    .item_image_select {
      border: 1px solid black;
    }
    .embla_botton {
      background-color: rgba(0, 0, 0, 0.1);
      border: 0;
      position: absolute;
      top: 0%;
      height: 100%;
      width: 1.5rem;
      span {
        display: inline-block;
        width: 2vw;
        height: 2vw;
        position: relative;
        box-sizing: border-box;
        opacity: 0.65;
        border-bottom: 5px solid #4585ff;
        border-left: 5px solid #4585ff;
        transition: opacity 300ms ease;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    .embla__bottonPrev {
      @extend .embla_botton;
      span {
        transform: rotate(45deg);
      }
    }
    .embla__bottonNext {
      @extend .embla_botton;
      right: 0%;
      span {
        right: calc(1.5rem - 6px);
        transform: rotate(-135deg);
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.infocontainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}
.title {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  color: #444655;
  width: 36rem;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.break {
  /* flex-basis: 10%; */
  width: 10%;
  height: 0;
}

.heartbox {
  width: 10rem;
  display: flex;
  justify-content: flex-end;
}

.wishlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.1rem;
  cursor: pointer;
}

.txtwish {
  font-size: 12px;
  color: #8b8ea1;
}

.infosec {
  display: flex;
  flex-direction: row;
}

.fsold {
  padding-right: 16px;
  border-right: 1px solid #a8aabc;
}

.p1 {
  color: #8b8ea1;
  font-size: 1rem;
}

.soldname {
  text-decoration: underline;
}

.freview {
  display: flex;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  column-gap: 0.4rem;
}

.stars {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  column-gap: 0.1rem;
  align-items: center;
}

.p2 {
  color: #8b8ea1;
  font-size: 12px;
}

.pricecontainer {
  display: flex;
  margin-top: 0.6rem;
}

.price {
  color: #4585ff;
  font-weight: 800;
  font-size: 28px;
  background-color: #f5f5fa;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  border-radius: 0.4rem;
}

.linehr {
  border-bottom: 1px solid #a8aabc;
  margin: 1rem 0 1.5rem;
}

.countcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btncountdec {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8b8ea1;
  border-radius: 0.2rem 0 0 0.2rem;
  background: transparent;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 1rem;
}

.qcount {
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8b8ea1;
  border-radius: 0;
  background: transparent;
  height: 2rem;
  cursor: pointer;
  font-size: 1rem;
}

.btncountadd {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8b8ea1;
  border-radius: 0 0.2rem 0.2rem 0;
  background: transparent;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 1rem;
}

.btncontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 1.2rem;
  column-gap: 2rem;
  margin-top: 2rem;
}

.btncart {
  display: flex;
  justify-content: center;
  background-color: #8b8ea1;
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffff;
  border-radius: 6px;
  width: 12rem;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  cursor: pointer;
  &:hover {
    background-color: #444655;
  }
}

.icon {
  margin-right: 1rem;
}

.btnbuy {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  background-color: #4585ff;
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffff;
  border-radius: 6px;
  width: 12rem;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  cursor: pointer;
  &:hover {
    background-color: #dbe6fd;
    color: #4585ff;
  }
}
