.sidebar {
  width: 25%;
  height: 50%;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: white;
}

.container {
  display: flex;
  column-gap: 2rem;
  padding: 1rem 10%;
}

// .sidebar_header {
//   display: flex;
//   column-gap: 1rem;
// }

// .bold {
//   font-weight: 600;
//   font-size: 1.1rem;
// }

// .email {
//   font-size: 0.7rem;
//   max-width: 32ch;
//   overflow: hidden;
// }

// .sidebar_user_img {
//   width: 3rem;
//   height: 3rem;
//   position: relative;
//   overflow: hidden;
//   border-radius: 999rem;
// }

// .sidebar_user_name {
//   width: 13rem;
// }

.sidebar_list {
  margin-top: 1rem;
}

.sidebar_list_item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding-top: 1rem;
}

.blue {
  color: #4585ff;
  font-weight: 500;
}

.sidebar_list_item:hover {
  color: #4585ff;
}

.sidebar_list_item span {
  width: 15%;
  display: flex;
  justify-content: center;
}

.signout {
  cursor: pointer;
}
