.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  .eachOrder {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    .eachOrder__head {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      > span:nth-child(2) {
        color: #3b7af4;
      }
      // margin: 1rem 1.5rem 0 1.5rem;
    }
    .eachOrder__item {
      border: 1px black dotted;
      display: grid;
      grid-template-columns: 15% 50% 20% 15%;
      margin: 1rem 0rem 0.5rem 0rem;
      padding: 0.5rem;
      align-items: center;

      .eachOrder__image {
        place-self: center;
        // margin-left: 1rem;
        position: relative;
        width: 5rem;
        height: 5rem;
        // padding-right: 1rem;
      }

      > div:nth-child(3),
      > div:nth-child(4) {
        place-self: center;
      }
    }
    > div:nth-child(3) {
      align-self: end;
      // margin-top: -0.5rem;
      span {
        margin-left: 4rem;
        font-weight: 450;
      }
    }
    .eachOrder__botton {
      margin-top: 0.5rem;
      align-self: end;
      display: flex;
      column-gap: 1rem;
      > div {
        background-color: burlywood;
        width: 8rem;
        text-align: center;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
      }
      :first-child {
        color: #4585ff;
        background-color: #dbe6fd;
      }
      :nth-child(2) {
        color: white;
        background-color: #3b7af4;
      }

      .unRating {
        color: white;
        background-color: gray;
        cursor: default;
      }
    }
  }
}
