.container {
  padding: 2rem 6rem 0 6rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  align-items: center;
}

.header_sort {
  display: flex;
  align-items: center;
  .sortBy {
    margin-right: 0.75rem;
  }
}

.main {
  display: flex;
  column-gap: 3rem;
  padding-bottom: 2rem;
}

.card_container {
  flex-grow: 1;
  display: grid;
  column-gap: 1rem;
  row-gap: 0.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.keyword {
  font-weight: 600;
}

@media (min-width: 1024px) {
  .card_container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

// ******************* Dropdown component section *******************
.dropdownBox {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  color: #7c7c7c;
  background-color: white;
  width: 12rem;
  height: 2.2rem;
  display: flex;
  justify-content: space-between;
  padding: 0 11px;
  align-items: center;
}

.listsContainer {
  position: absolute;
  top: 184px;
  z-index: 999;
  border-radius: 8px;
  background-color: white;
  color: #7c7c7c;
}

.dropdownItem {
  width: 12rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.dropdownItem:hover {
  background-color: #dbe6fd;
}

.fontBlue {
  color: #4585ff;
}
