.container {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}
.toplink {
  padding-left: 12%;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}
.ahome {
  font-weight: 600;
  color: #4585ff;
}
