.background {
  width: 100%;
  height: auto;
  background-color: #dbe6fd;
}
.container {
  height: 620px;
  background-image: url("/signup-wave.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #dbe6fd;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
}

.peopleIcon {
  position: relative;
  width: 23rem;
  height: 23rem;
  margin-top: 8rem;
}

@media (max-width: 1024px) {
  .peopleIcon {
    display: none;
  }
}

@media (max-width: 580px) {
}
