$grey45: #a8aabc;
$grey70: #8b8ea1;
$grey100: #444655;
$red: #ff1f00;
$red20: #ffd2cc;
$blue: #4585ff;
$lightblue: #dbe6fd;

.container {
  background-color: rgb(0, 0, 0, 0.6);
  background-attachment: fixed;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 9999;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: auto;
  margin-top: auto;
  width: 27rem;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.body {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-content: center;
  align-items: center;
}

.title {
  font-size: 1.325rem;
  font-weight: 600;
}

.subtitle {
  font-size: 1.1rem;
  font-weight: 600;
  color: $grey100;
}

.icon {
  cursor: pointer;
}

.textinfo {
  font-size: 0.9rem;
  color: $grey70;
  text-align: center;
  overflow: hidden;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

//===================== Delete Button =====================
.deleteBtn {
  display: flex;
  justify-content: center;
  column-gap: 0.4rem;
  width: 12rem;
  padding: 0.5rem 2rem;
  background-color: $red;
  color: white;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.deleteBtn:hover {
  background-color: $red20;
  color: $red;
  cursor: pointer;
}

.cancelBtn {
  display: flex;
  justify-content: center;
  column-gap: 0.4rem;
  width: 12rem;
  padding: 0.5rem 2rem;
  background-color: $lightblue;
  color: $blue;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.cancelBtn:hover {
  background-color: $grey45;
  color: white;
  cursor: pointer;
}

//===================== Warn Button =====================
.stayBtn {
  display: flex;
  justify-content: center;
  column-gap: 0.4rem;
  width: 12rem;
  padding: 0.5rem 2rem;
  background-color: $blue;
  color: white;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.stayBtn:hover {
  background-color: $grey45;
  color: white;
  cursor: pointer;
}

.leaveBtn {
  display: flex;
  justify-content: center;
  column-gap: 0.4rem;
  width: 12rem;
  padding: 0.5rem 2rem;
  background-color: $lightblue;
  color: $blue;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.leaveBtn:hover {
  background-color: $red20;
  color: $red;
  cursor: pointer;
}

//===================== Order Button =====================
.actionBtn {
  display: flex;
  justify-content: center;
  column-gap: 0.4rem;
  width: 25rem;
  padding: 0.6rem 2rem;
  background-color: $blue;
  color: white;
  border-radius: 0.25rem;
  font-size: 1.1rem;
}

.actionBtn:hover {
  background-color: $grey45;
  color: white;
  cursor: pointer;
}

//===================== Rating Button =====================
.bottom_part {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.star_icon {
  color: $grey45;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.star_icon__clicked {
  color: #ffd700;
}

.stars_fav {
  display: flex;
  column-gap: 0.7rem;
  justify-content: center;
  align-items: center;
}
