html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

div#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  background-color: #f5f5fa;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
