.container {
  display: flex;
  justify-content: center;
  padding-left: 6rem;
  padding-right: 6rem;
  background: #f5f5fa;
}

.section {
  padding-bottom: 2rem;
}

.section_title {
  font-weight: 600;
  padding-bottom: 1rem;
}

.categoriesContainer {
  display: flex;
  column-gap: 2rem;
}

.category {
  text-align: center;
}

.category_image {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  overflow: hidden;
}

.cardContainer {
  display: grid;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
