$grey45: #a8aabc;
$grey70: #8b8ea1;
$grey100: #444655;
$red: #ff1f00;
$red20: #ffd2cc;
$blue: #4585ff;
$lightblue: #dbe6fd;

.container {
  background-color: rgb(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: auto;
  margin-top: auto;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.body {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-content: center;
  align-items: center;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: $blue;
}

.subtitle {
  font-size: 1rem;
  font-weight: 600;
  color: $grey100;
}

.icon {
    cursor: pointer;
}

.image {
  position: relative;
  width: 12rem;
  height: 12rem;
  filter: drop-shadow(38px -23px 36px rgba(255, 210, 0, 0.25)) drop-shadow(-27px 13px 30px rgba(69, 133, 255, 0.35));
}

.textinfo {
  font-size: 0.9rem;
  color: $grey70;
  text-align: center;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.actionBtn {
  display: flex;
  justify-content: center;
  column-gap: 0.4rem;
  width: 24rem;
  padding: 0.6rem 2rem;
  background-color: $blue;
  color: white;
  border-radius: 0.25rem;
  font-size: 1.1rem;
}

.actionBtn:hover {
  background-color: $grey45;
  color: white;
  cursor: pointer;
}
