.card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card_image {
  position: relative;
  height: 7rem;
}

.card_content {
  background: white;
  padding: 0.5rem;
  height: 5rem;
}
