.card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 9rem;
}

.card_image {
  position: relative;
  height: 7rem;
}

.card_content {
  background: white;
  height: 5.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.stars_fav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
