@import "../../styles/breakPoints.scss";

$headerHeight: 7.3rem;

.headerContainer {
  display: flex;
  background-color: white;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  height: $headerHeight;
  transition: all 0.5s ease;
  column-gap: 0.5rem;
  padding-bottom: 0.4rem;
  .logo {
    padding: auto;
    width: 15em;
    height: 4em;
    margin-top: 1rem;
    margin-right: 0.25rem;

    a {
      display: flex;
      align-items: center;
      column-gap: 0.5em;
      .logo_text {
        position: relative;
        width: 10em;
        height: 3em;
        margin-top: 1em;
      }
      .logo_image {
        position: relative;
        width: 4em;
        height: 4em;
      }
    }
  }

  @include breakpoint(phone) {
    padding: 0.5em;
    .logo {
      // margin: 1em 1.5em 0.25em 0em;
      width: 4em;
    }
    .logo_text {
      display: none;
    }
  }

  .searchBar {
    display: flex;
    width: 50%;
    height: 2.25em;
    position: relative;
    margin-top: 1.7rem;

    input[type="text"] {
      position: absolute;
      height: 100%;
      width: 88%;
      padding-left: 1.5em;
      border: none;
      border-radius: 20px 0 0 20px;
      background-color: #e9efff;
      box-shadow: 5px 5px 10px #f0f0f0;
      outline: none;
      font-family: Poppins, sans-serif;
      font-size: 0.9rem;
    }

    form > div {
      width: 12%;
      cursor: pointer;
      position: absolute;
      height: 100%;
      right: 0;
      display: inline-block;
      border: none;
      border-radius: 0 20px 20px 0;
      background-color: #4585ff;
      box-shadow: 5px 5px 10px #f0f0f0;
      align-content: center;
      div {
        //search icon
        display: flex;
        color: white;
        padding: 6px 3px 0 0;
        width: max-content;
        margin: auto;
      }
    }

    .search__dropdown {
      position: absolute;
      width: 100%;
      background-color: white;
      top: 2.25rem;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      border-left: 1px solid black;

      ul > li {
        background-color: #4585ff;
      }
      .search_item {
        display: flex;
        column-gap: 0.5rem;
        align-items: center;
        padding: 0.5rem;
        border-top: 1px solid black;
        .search_item__image {
          position: relative;
          width: 3rem;
          height: 3rem;
        }
      }
      .search_item:hover {
        background-color: #4585ff;
      }

      .search_item__empty {
        width: 100%;
        height: 5rem;
        background-color: white;
        border-top: 1px solid black;
        text-align: center;
        padding: 1.5rem;
      }
    }
  }

  .containerSide {
    display: flex;
    flex-direction: column;
    width: 11.25rem;
    align-items: flex-end;

    row-gap: 0.5rem;
    margin-bottom: 0.6rem;

    .menu {
      display: flex;
      padding: 0.25em 0;
      padding-top: -0.5em;
      margin-bottom: 0.3rem;
      .fabell {
        width: max-content;
        color: #5c94ff;
      }

      .faQuestionCircle {
        width: max-content;
        color: #5c94ff;
      }

      .faGlobe {
        width: max-content;
        margin-right: 2em;
        color: #5c94ff;
      }

      a {
        height: auto;
        margin-right: 1.5em;
        font-size: 0.8em;
      }
    }
    .userMenu {
      display: flex;
      margin-bottom: 0.35em;
      .countCart {
        position: relative;
        .totalQty {
          // z-index: -1;
          bottom: 1rem;
          left: 1rem;
          position: absolute;
          height: 20px;
          width: 20px;
          display: inline-flex;
          background-color: #5c7aea;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 14px;
          border-radius: 400px;
        }
      }

      a {
        width: 100%;
        height: auto;
        margin-right: 2em;
      }
      .user_image {
        position: relative;
        bottom: 0.2em;
        width: 1.8em;
        height: 1.8em;
        margin-left: -0.3em;
        margin-bottom: -0.3em;
        :first-child {
          border-radius: 50%;
        }
      }
    }
    .concise_menu {
      display: none;
      .countCart {
        position: relative;
        .totalQty {
          // z-index: -1;
          bottom: 1rem;
          left: 1rem;
          position: absolute;
          height: 20px;
          width: 20px;
          display: inline-flex;
          background-color: #5c7aea;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 14px;
          border-radius: 400px;
        }
      }
      .hamburger {
        .line1,
        .line2,
        .line3 {
          width: 30px;
          height: 3px;
          background: black;
          margin: 5px;
          transition: all 0.3s ease;
        }

        .dropdown_menu {
          display: none;
          position: absolute;
          background-color: blue;
          margin-top: 0.5rem;
          right: 0;
        }
      }
    }
  }

  @include breakpoint(tablet) {
    .containerSide {
      width: 5em;

      .menu {
        > :nth-child(3) {
          margin-right: 0.35rem;
        }
      }

      .userMenu {
        display: none;
      }
      .concise_menu {
        display: flex;
        column-gap: 1em;
        padding-top: 0.2rem;
        // margin-top: -1.5em;
        .concise_cart {
          display: block;
          position: relative;
          bottom: 0.15rem;
        }
        .hamburger {
          display: block;
          cursor: pointer;
          position: relative;
          top: 0.65em;
          transform: translate(-5%, -50%);
          transition: all 0.7s ease;
        }
        .toggle .line1 {
          transform: rotate(-45deg) translate(-5px, 6px);
        }
        .toggle .line2 {
          transition: 0.7s ease;
          width: 0;
        }
        .toggle .line3 {
          transform: rotate(45deg) translate(-5px, -6px);
        }

        .toggle .dropdown_menu {
          display: block;
          background-color: white;
          li {
            padding: 0.2rem 1rem;
            border: 1px solid red;
            &:hover {
              background-color: gray;
            }
          }
        }
      }
    }
  }
}

.hide_header {
  //visibility: hidden; //can't use visibility together with transition
  //display: none; //will cause some bug when the height of screen is too short
  top: -20rem;
}
