$grey45: #a8aabc;

.bg {
  background-color: rgb(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.cropBoxContainer {
  width: 70%;
  height: 80%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.canvasLg {
  width: 14rem;
  height: 14rem;
  border: 2px dashed $grey45;
  border-radius: 0.25rem;
}

.canvasSm {
  width: 9rem;
  height: 9rem;
  border: 2px dashed $grey45;
  border-radius: 0.25rem;
}
