$grey45: #a8aabc;
$grey70: #8b8ea1;
$grey100: #444655;
$red: #ff1f00;
$red20: #ffd2cc;
$blue: #4585ff;
$lightblue: #dbe6fd;

.container {
  background-color: rgb(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 9999;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: auto;
  margin-top: auto;
}

.cropsection {
  width: 500px;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.body {
  display: flex;
  height: 90%;
  flex-direction: column;
  row-gap: 1rem;
  align-content: center;
  align-items: center;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: $grey100;
}

.subtitle {
  font-size: 1rem;
  font-weight: 600;
  color: $grey100;
}

.textinfo {
  font-size: 0.9rem;
  color: $grey70;
  text-align: center;
}

.button_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
}

.activeBtn {
  display: flex;
  justify-content: center;
  column-gap: 0.4rem;
  width: 12rem;
  padding: 0.5rem 2rem;
  background-color: $blue;
  color: $lightblue;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.activeBtn:hover {
  background-color: #2f6ee2;
  color: white;
}

.cancelBtn {
  display: flex;
  justify-content: center;
  column-gap: 0.4rem;
  width: 12rem;
  padding: 0.5rem 2rem;
  background-color: $lightblue;
  color: $blue;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.cancelBtn:hover {
  background-color: $grey45;
  color: white;
}

.canvasLg {
  width: 11rem;
  height: 11rem;
  border: 2px dashed $grey45;
  border-radius: 0.25rem;
}

.canvasSm {
  width: 7rem;
  height: 7rem;
  border: 2px dashed $grey45;
  border-radius: 0.25rem;
}

// --------------------- Cropped Image ---------------------
@keyframes zoomIn-zoomOut {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.2, 1.2);
  }
}

.croppedImgContainer {
  position: relative;
}

.croppedCancelBtn {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  width: 1.1rem;
  height: 1.1rem;
  background-color: black;
  opacity: 0.75;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 100;
  z-index: 100;
}

.croppedCancelBtn:hover {
  animation-name: zoomIn-zoomOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.oldImgContainer {
  position: relative;
}
