.container {
  width: 70%;
  max-width: 480px;
  height: 340px;
  border-radius: 12px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 35px 0 5px;
}

.childBox {
  width: 84%;
  margin: 10px 0;
}

.orContinueBox {
  width: 84%;
  margin: 7px 0;
}

.orContinueText {
  color: #a8aabc;
  font-size: 0.75rem;
  font-weight: 300;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #a8aabc;
  line-height: 0.1em;
  margin: 8px 0;
}

.orContinueText span {
  background: white;
  padding: 0 12px;
}

.oauthButtons {
  width: 84%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.oauthButtons button {
  width: 100%;
  height: 48px;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
  font-family: Poppins,sans-serif;
  letter-spacing: 1px;
}

.facebookButton {
  background-color: #1068DB;
}

.googleButton {
  background-color: #EA4335;
}

.githubButton {
  background-color: #323131;
}

.provider {
  margin-left: 0.8rem;
}

@media (max-width: 580px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .container {
    height: 530px;
    justify-content: center;
  }
  .title {
    font-size: 1.3rem;
  }
  .childBox {
    width: 90%;
    margin: 8px 0;
  }
}
